* {
  background-color: #f4f5f7
}

.portrait {
  width: auto;
  margin: 10px;
}
.card, .card-header, .list-group-item {
  border: none;
  border-radius: 0;
}
.username {
  font-size: 1.5em;
  height: 100%;
  padding-top: 15%;
}

.nav-set {
  padding: 0px;
}

.divider {
  border-bottom: 1px solid #dddfe6;
  padding-bottom: 10px;
}
