<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 nav-set">
      <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <img src="../assets/mouse.jpg" alt="..." class="img-fluid rounded-circle portrait">
          </div>
          <div class="col-sm-8">
            <span class="badge username align-middle">ANT</span>
          </div>
        </div>

      </div>

      <!-- <div class="divider"></div> -->

      <div class="card">
        <div class="card-header">
          本地下载
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-list" aria-hidden="true"></i>&nbsp; 全部任务</li>
          <li class="list-group-item"><i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp; 正在下载</li>
          <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; 已完成</li>
          <li class="list-group-item"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; 垃圾箱</li>
        </ul>
      </div>

      <div class="divider"></div>

      <div class="card">
        <div class="card-header">
          云端支持
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-telegram" aria-hidden="true"></i>&nbsp; 使用说明</li>
          <li class="list-group-item"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; 开启云端</li>
        </ul>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-list" aria-hidden="true"></i>&nbsp; 全部任务</li>
          <li class="list-group-item"><i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp; 正在下载</li>
          <li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; 已完成</li>
          <li class="list-group-item"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; 垃圾箱</li>
        </ul> -->
      </div>

      <div class="divider"></div>

      <div class="card">
        <div class="card-header">
          拓展功能
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; 种子检索</li>
          <li class="list-group-item"><i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp; 边放边播</li>
          <li class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; 系统设置</li>
        </ul>
      </div>

    </div>
    <div class="col-sm-10 nav-set">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
