.nav-top {
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
  padding: 0px;
  background-color: #FCFCFC;
}

.nav-btn-groups {
  /* border-right: 1px solid rgba(0, 0, 0, .125); */
  /* border-color: #f4f0e6; */
}

button {
  border: none;
  background-color: #FCFCFC;
}

.infoPage {
  background-color: #FFFFFF;
  min-height: 940px;
}

.singleTorrent {
  background-color: #FCFCFC;
  margin: 10px;
}
