<div class="container-fluid nav-set">
  <div class="row nav sticky-top">
    <div class="btn-toolbar col-sm-10 nav-top" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group nav-btn-groups" role="group" aria-label="First group">
        <button type="button" class="btn btn-light" title="打开种子" onclick="upFile.click()"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
        <input type="file" id="upFile" (change)="addOneTorrent($event.target.files)" class="upFile">
        <button type="button" class="btn btn-light" (click)="handleMagnet(magnet)" title="磁力链接"><i class="fa fa-link fa-1x" aria-hidden="true"></i></button>
        <ng-template #magnet let-modal>
          <!--<div class="modal-header">-->
            <!--<h4 class="modal-title">Modal title</h4>-->
            <!--<button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">-->
              <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
          <!--</div>-->
          <div class="modal-body">
            <textarea type="text" class="form-control" #box (keyup.enter)="downloadMagnet(box.value)" placeholder="magnet:?xt=urn:" aria-label="Magnet"></textarea>
          </div>
          <!--<div class="modal-footer"></div>-->
        </ng-template>
      </div>
      <div class="btn-group nav-btn-groups" role="group" aria-label="Second group">
        <button type="button" class="btn btn-light" (click)="startOneTorrent()"><i class="fa fa-play fa-1x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-light" (click)="stopOneTorrent()"><i class="fa fa-pause fa-1x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-light" (click)="delOneTorrent()"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group nav-btn-groups" role="group" aria-label="Third group">
        <button type="button" class="btn btn-light" (click)="showInfo()"><i class="fa fa-filter fa-1x" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group" role="group" aria-label="Forth group">
        <button type="button" class="btn btn-light"><i class="fa fa-cog fa-1x" aria-hidden="true"></i></button>
      </div>
    </div>

    <div class="btn-toolbar col-sm-2 nav-top" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="Fifth group">
        <!--<button type="button" class="btn btn-light"><i class="fa fa-arrow-down fa-1g" aria-hidden="true">&nbsp; 0 KB/S</i></button>-->
      </div>
      <!--<div class="btn-group" role="group" aria-label="Sixth group">-->
        <!--<button type="button" class="btn btn-light"><i class="fa fa-arrow-up fa-1g" aria-hidden="true">&nbsp; 0 KB/S</i></button>-->
      <!--</div>-->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 infoPage" tabindex="0" (click) = "torrentBlur()">
      <div *ngFor="let torrent of torrents">
        <div class="row singleTorrent" tabindex="0" (click)="clickOneTorrent($event, torrent)" [ngClass]="{'selectedTorrent' : judgeEqual(torrent, selectedTorrent)}">
          <div class="col-sm-2 singleTorrentLeft">
            <img [src]="torrent.TypeImg" class="fileType" [alt]="torrent.TypeImg"/>
          </div>
          <div class="col-sm-10">
            <p class="torrentName" [title]="torrent.TorrentName">{{torrent.TorrentName}}</p>
            <div class="row torrentInfo">
              <div class="col-sm-10 allInfo">
                <div class="singleInfo">{{torrent.TotalLength}}</div>
                <!--<div class="singleInfo">已下载 {{torrent.Percentage}}</div>-->
                <div class="singleInfo" *ngIf = "torrent.Status === 'Running'" >剩余时间: {{torrent.leftTime}}</div>
              </div>
              <div class="col-sm-2 allInfo">
                <div class="singleInfo">{{torrent.Status}}</div>
              </div>
              <div class="col-sm-12 allProgress">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" [id] = "torrent.HexString" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width] = "torrent.Percentage | percent:'2.2-4'">
                    {{torrent.Percentage | percent:'2.2-4'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="col-sm-12" *ngIf="false">-->
            <!--<div class="row"  >-->
              <!--<div class="col-sm-8 fileName fileNameHeader"><h6>Path</h6></div>-->
              <!--<div class="col-sm-2 fileName fileNameHeader"><h6>Size</h6></div>-->
              <!--<div class="col-sm-2 fileName fileNameHeader"><h6>Priority</h6></div>-->
            <!--</div>-->
            <!--<div class="row" *ngFor="let file of torrent.Files" >-->
              <!--<div class="col-sm-8 fileName" [title]="file.Path">{{file.Path}}</div>-->
              <!--<div class="col-sm-2 fileName">{{file.Size}}</div>-->
              <!--<div class="col-sm-2 fileName">{{file.Priority}}</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <webview id="itorrents" src="https://itorrents.org/" style="display:none; width:100%; height:100%"></webview>
    </div>
  </div>
</div>
