<div class="container-fluid nav-set">
  <div class="row">
    <div class="btn-toolbar col-sm-9 nav-top" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group nav-btn-groups" role="group" aria-label="First group">
        <button type="button" class="btn btn-light"><i class="fa fa-plus fa-1x" aria-hidden="true">&nbsp;&nbsp;</i></button>
      </div>
      <div class="btn-group nav-btn-groups" role="group" aria-label="Second group">
        <button type="button" class="btn btn-light"><i class="fa fa-play fa-1x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-light"><i class="fa fa-pause fa-1x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-light"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group nav-btn-groups" role="group" aria-label="Third group">
        <button type="button" class="btn btn-light"><i class="fa fa-filter fa-1x" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group" role="group" aria-label="Forth group">
        <button type="button" class="btn btn-light"><i class="fa fa-cog fa-1x" aria-hidden="true"></i></button>
      </div>
    </div>

    <div class="btn-toolbar col-sm-3 nav-top" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="Fifth group">
        <button type="button" class="btn btn-light"><i class="fa fa-arrow-down fa-1g" aria-hidden="true">&nbsp; 0 KB/S</i></button>
      </div>
      <div class="btn-group" role="group" aria-label="Sixth group">
        <button type="button" class="btn btn-light"><i class="fa fa-arrow-up fa-1g" aria-hidden="true">&nbsp; 0 KB/S</i></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 infoPage">
      <div class="panel panel-info singleTorrent">
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjk2N2NlMTRjMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2OTY3Y2UxNGMwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzk2ODc1IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="...">
              </a>
            </div>
            <div class="media-body">
                <h3>恐龙战队</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
