.nav-top {
  /* border: 1px solid rgba(0,0,0,.125); */
  padding: 0px;
  background-color: #fafbfd;
}

.nav-btn-groups {
  border-right: 1px solid rgba(0, 0, 0, .125);
  border-color: #f4f0e6;
}

button {
  border: none;
  background-color: #fafbfd;
}

.infoPage {
  background-color: #f4f5f9;
  height: 940px;
}
