$nav_background_color : #FCFCFC;

@mixin nameOverflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-top {
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
  padding: 0px;
  background-color: $nav_background_color;
}

.nav-btn-groups {
  /* border-right: 1px solid rgba(0, 0, 0, .125); */
  /* border-color: #f4f0e6; */
}

button {
  border: none;
  background-color: $nav_background_color;
}

.btn:hover {
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.6), 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.btn:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline:none;
}

.infoPage {
  background-color: #FFFFFF;
  min-height: 120vh;
}

.infoPage:focus {
  outline:none;
}

.messages {
  padding-top: 0.2rem;
}

.singleTorrent {
  background-color: $nav_background_color;
  margin: 15px;
  border-radius: 20px;
  min-height: 10%;
  cursor: pointer;
}

.selectedTorrent, .singleTorrent:hover {
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.6), 0 0 8px 0 rgba(0, 0, 0, 0.5);
  background-color: #EAEAEA;
  outline:none;
}

.singleTorrent:focus {
  outline: none;
}

.torrentName {
  font-size: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
  height: 25%;
  color: #eb5c2f;
  @include nameOverflow;
}

.fileNameHeader {
  font-style: italic;
}

.fileInfo{
  width: 100%;
}

.torrentInfo {
  height: 60%;
  font-size: 0.7em;
  font-style: italic;
  padding-top: 1%;
}

.allInfo {
  height: 25%;
}

.allProgress {
  height: 25%;
}

.progress-bar {
  min-width: 2em;
  width: 2%;
  background-color: #b8d9c2;
  color: #1c1e1fb8;
}

.singleTorrentLeft {
  //border-right: 1px solid rgba(0, 0, 0, .125);
  max-height: 16vh;
  max-width: 16vh;
  padding: 0px;
}

.singleInfo {
  margin: 0px 5px 0px 0px;
  height: 100%;
  display: inline-block;
  color: #bb6b4e;
}

.progress {
  height: 0.8rem;
  background-color: #e8b9b930;
  overflow: visible;
}

.fileType {
  padding: 20%;
  height: 100%;
  width: 100%;
}

.upFile {
  visibility: hidden;
  position: absolute;
}

.nav-set {
  padding: 0;
  font-size: 1.2em;
}

.progress .progress-bar{
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

.progress .progress-bar:after{
  content: "";
  display: inline-block;
  width: 8px;
  background: #d9d9f3;
  position: absolute;
  top: -8px;
  bottom: -8px;
  right: -1px;
  z-index: 1;
  transform: rotate(35deg);
}


