<div class="row flex-xl-nowrap">
  <app-navbar class="col-sm-2 nav-set">
  </app-navbar>
  <div class="col-sm-10 nav-set">
    <div class="container-fluid infoPage">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                ANT Downloader <span class="badge badge-pill badge-info">I</span>
              </div>
              <div class="card-body">
                <p class="card-text text-muted infoText">This page lists some useful services for a bittorrent client which I don't have enough time to keep.</p>
                <button (click)="openUrl('https://github.com/anatasluo/ant')" class="btn btn-primary">ANT Github</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                thepiratebay <span class="badge badge-pill badge-secondary">S</span>
              </div>
              <div class="card-body">
                <p class="card-text text-muted infoText">Thepiratebay is one of the biggest torrent search engine in the world.</p>
                <button (click)="openUrl('https://thepiratebay.org/')" class="btn btn-primary">Website</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                itorrents <span class="badge badge-pill badge-dark">T</span>
              </div>
              <div class="card-body">
                <p class="card-text text-muted infoText">itorrents supports mutual transformation between magnet and torrent.</p>
                <button (click)="openUrl('https://itorrents.org/')" class="btn btn-primary">Website</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                torlock <span class="badge badge-pill badge-secondary">S</span>
              </div>
              <div class="card-body">
                <p class="card-text text-muted infoText">torlock is a popular torrent search engine. </p>
                <button (click)="openUrl('https://www.torlock.com/')" class="btn btn-primary">Website</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                limetorrents <span class="badge badge-pill badge-secondary">S</span>
              </div>
              <div class="card-body">
                <p class="card-text text-muted infoText">limetorrents is a popular torrent search engine. </p>
                <button (click)="openUrl('https://www.limetorrents.info/')" class="btn btn-primary">Website</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
