<div class="row flex-xl-nowrap">
  <app-navbar class="col-sm-2 nav-set">
  </app-navbar>
  <div class="col-sm-10 nav-set">
    <div class="container-fluid infoPage">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled">
            <li tabindex="0" class="media my-4" (click)="openUrl('https://thepiratebay.org/')" title="click to open it.">
              <img [src]="thepiratebay" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">thepiratebay</h3>
                <p>
                  <cite>
                    The Pirate Bay (TPB) is one of the largest torrent sites, millions of visitors per day.
                  </cite>
                </p>
                <p>
                  <cite>
                    The Pirate Bay allows visitors to search, download, and contribute magnet links and torrent files.
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://torrentseeker.com/')" title="click to open it.">
              <img [src]="torrentseeker" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">torrentseeker</h3>
                <p>
                  <cite title="It is cited from https://fossbytes.com/best-torrent-search-engine/">
                    TorrentSeeker is a robust torrent search engine that uses custom Google Search to scrape torrents from over 100 torrent sites. The site also claims to update its database on a regular basis with popular torrents, latest proxy sites, and niche and language-specific sources as well.
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://torrents.me/')" title="click to open it.">
              <img [src]="torrents" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">torrents</h3>
                <p>
                  <cite title="It is cited from https://fossbytes.com/best-torrent-search-engine/">
                    This popular meta torrent search engine site is very different from any other BitTorrent-related site you’ll see. While homepages feature extensive lists of torrents, Torrents.me displays search trends for popular queries. These trends keep changing frequently and provide a good idea of what’s hot and what BitTorrent users are looking for.</cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://itorrents.org/')" title="click to open it.">
              <img [src]="itorrents" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">itorrents</h3>
                <p><cite>iTorrents.org is a free service for caching torrent files online.</cite></p>
                <p>
                  <cite>You can not search or list torrent files that are stored here, you can only access them if you already know the info_hash value of the torrent you want to download.</cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://www.torrentdownload.ch/')" title="click to open it.">
              <img [src]="torrentdownload" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">torrentdownload</h3>
                <p>
                  <cite>
                    torrentdownload is a website which features various torrent files to download movies, TV series, anime, ebooks, software, music, and so on.
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('http://www.toorgle.com/')" title="click to open it.">
              <img [src]="toorgle" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">toorgle</h3>
                <p>
                  <cite>
                    toorgle is a torrent search engine powered by google.
                  </cite>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
