<div class="row flex-xl-nowrap">
  <app-navbar class="col-sm-2 nav-set">
  </app-navbar>
  <div class="col-sm-10 nav-set">
    <div class="container-fluid infoPage">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled">
            <li tabindex="0" class="media my-4" (click)="openUrl('https://piratebay-proxylist.se/')" title="click to open it.">
              <img [src]="thepiratebay" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">{{ 'TOOLS.ThePirateBay.title' | translate }}</h3>
                <br>
                <p>
                  <cite>
                    {{ 'TOOLS.ThePirateBay.content1' | translate }}
                  </cite>
                </p>
                <p>
                  <cite>
                    {{ 'TOOLS.ThePirateBay.content2' | translate }}
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://torrentseeker.com/')" title="click to open it.">
              <img [src]="torrentseeker" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">{{ 'TOOLS.Torrentseeker.title' | translate }}</h3>
                <br>
                <p>
                  <cite title="It is cited from https://fossbytes.com/best-torrent-search-engine/">
                    {{ 'TOOLS.Torrentseeker.content1' | translate }}
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://torrents.me/')" title="click to open it.">
              <img [src]="torrents" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">{{ 'TOOLS.Torrents.title' | translate }}</h3>
                <br>
                <p>
                  <cite title="It is cited from https://fossbytes.com/best-torrent-search-engine/">
                    {{ 'TOOLS.Torrents.content1' | translate }}
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://itorrents.org/')" title="click to open it.">
              <img [src]="itorrents" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">{{ 'TOOLS.Itorrents.title' | translate }}</h3>
                <br>
                <p>
                  <cite>
                    {{ 'TOOLS.Itorrents.content1' | translate }}
                  </cite>
                </p>
                <p>
                  <cite>
                    {{ 'TOOLS.Itorrents.content2' | translate }}
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('https://www.torrentdownload.ch/')" title="click to open it.">
              <img [src]="torrentdownload" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">{{ 'TOOLS.Torrentdownload.title' | translate }}</h3>
                <br>
                <p>
                  <cite>
                    {{ 'TOOLS.Torrentdownload.content1' | translate }}
                  </cite>
                </p>
              </div>
            </li>
            <li tabindex="0" class="media my-4" (click)="openUrl('http://www.toorgle.com/')" title="click to open it.">
              <img [src]="toorgle" class="align-self-center mr-3 img-thumbnail" alt="...">
              <div class="media-body">
                <h3 class="mt-0 mb-1">{{ 'TOOLS.Toorgle.title' | translate }}</h3>
                <br>
                <p>
                  <cite>
                    {{ 'TOOLS.Toorgle.content1' | translate }}
                  </cite>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
