.nav-set {
  padding: 0;
  font-size: 1.2em;
}

.infoPage {
  background-color: #FFFFFF;
  min-height: 120vh;
}

.media {
  margin: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.img-thumbnail {
  width: 8rem;
  border: none;
}





